body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
}

.profile-image {
  display: block;
  max-width: 150px;
  margin: 20px auto;
  border-radius: 50%;
}

.intro {
  text-align: center;
  margin: 20px 0;
}

.work,
.bio,
.skills,
.technologies,
.certifications {
  margin-bottom: 20px;
}

h1,
h2 {
  color: #333;
}

.button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .layout {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: fadeIn 1s ease-out forwards;
}

/* Initially hide elements to be animated */
.animate-on-scroll {
  opacity: 0;
}
