/* Reset */
body,
h1,
h2,
h3,
p,
a,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", Arial, sans-serif;
}

/* Body and Global Styles */
body {
  background-color: #f0e7db; /* Light mode background */
  color: #202023; /* Assuming dark text for light mode */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Navbar Styles */
.navbar {
  background-color: #333; /* Dark background for navbar */
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a,
.navbar button {
  color: #88ccca; /* Custom link color */
  margin-left: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Container and Content Styles */
.layout {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header,
.intro,
.work,
.bio,
.skills,
.technologies,
.certifications {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  display: block;
  max-width: 150px;
  margin: 20px auto;
  border-radius: 50%;
}

/* Heading Styles */
h1,
h2,
h3 {
  color: #333;
}

.section-title {
  text-decoration: underline;
  font-size: 20px;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
  margin-top: 3px;
  margin-bottom: 4px;
}

/* Button Styles */
.button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Animation for elements */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: fadeIn 1s ease-out forwards;
}

.animate-on-scroll {
  opacity: 0;
}

/* Image Adjustment within Work Items */
.work-item img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

/* Dark Mode Specific Styles */
body.dark-mode {
  background-color: #202023;
  color: #f0e7db;
}

.navbar.dark-mode {
  background-color: #202023;
}

.navbar.dark-mode a,
.navbar.dark-mode button {
  color: #3d7aed;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .layout,
  .container {
    padding: 10px;
  }
}
